body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, #c709e9, #673ab7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: rgba(224, 230, 231, 0.795);
    padding: 30px;
    border-radius: 12px;
    text-overflow: ellipsis;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 300px;
  }
  
  h3 {
    margin-bottom: 50px;
  }
  
  button {
    padding: 14px;
    font-size: 14px;
    cursor: pointer;
    background: #673ab7;
    color: white;
    border: none;
    border-radius: 7px;
  }
  
  button:hover {
    background: #9c27b0;
  }
  
